@charset "UTF-8";

.header-area .main-nav .nav li div{
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  border-radius: 20px;
  padding-left: 0px;
}

.item .item-list  {
    height: 95px ;
}
.item .item-list {
    height: 170px ;
}

.item img {
    aspect-ratio: 1;
}